# Coleta de Dados e Processamento
beautifulsoup4==4.12.3       # Para web scraping
selenium==4.21.0             # Extração de dados dinâmicos
requests==2.31.0             # Requisições HTTP
pandas==2.2.2                # Manipulação de dados

# Análise de Dados e Machine Learning
scikit-learn==1.4.2          # Clusterização (K-Means, TF-IDF)
numpy==1.26.4                # Computação numérica
gensim==4.3.2                # Modelagem de tópicos (NLP)

# Visualização
matplotlib==3.8.3            # Geração de gráficos estáticos
seaborn==0.13.2              # Visualização estatística
plotly==5.22.0               # Gráficos interativos
networkx==3.3                # Criação de grafos

# Processamento de Linguagem Natural (NLP)
spacy==3.7.4                 # Pré-processamento de textos
spacy-model-pt==0.0.0        # Modelo em português (spaCy)
transformers==4.48.0         # Modelos BERT para NLP

# Ambiente e Utilitários
jupyter==1.0.0               # Documentação interativa
python-dotenv==1.0.1         # Gerenciamento de variáveis de ambiente